{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PDF Generator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 style="align-content: center; color: rgb(14, 5, 5);">WELCOME TO PDF GENERATOR APP</h1>
    <div class="container">
        <h1>PDF Generator</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_name">Name</label>
            {{ form.name }}
            <label for="id_email">Email</label>
            {{ form.email }}
            <label for="id_message">Insert your content:</label>
            {{ form.message }}
            <button type="submit">Download PDF</button>
        </form>
    </div>
</body>
</html>
